body {
    background-color: rgb(39, 39, 43);
    color: rgb(255, 255, 255); 
    text-align: center;
    font-family: Helvetica, Arial, sans-serif; 
}

.title { 
    text-align: center;
}

.sudoku-container{
    margin-left: auto;
    margin-right: auto; 
    width: 30%; 
    aspect-ratio: 1/1; 
    font-size: 1.25rem; 
    font-weight: 400; 
    overflow: auto;
}

.sudoku-grid {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(255, 255, 255); 
    
}


.sudoku-grid th { 
    border: 1px solid rgb(255, 255, 255);; 
}

.sudoku-grid td {
    border: 1px solid rgb(255, 255, 255);;
}

button {
    display: inline-flex; 
    align-items: center;
    text-align: center; 
    justify-content: space-around;
    margin-top: 10px; 
    margin-right: 5px;
    margin-left: 5px;
    width: 100px; 
    height: 30px;  
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
