<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1 class = "title" >Sudoku Generator</h1>
    </div>
    <div class = "sudoku-container">
        <table class = "sudoku-grid"> 
        <!-- Your Sudoku cells will be populated here -->
        </table>
    </div>

    <button class = "solve-sudoku"> Solve </button> 
    <button class = "generate-sudoku"> Generate </button>

    <input type="text" class="numberInput" min="1" max="9" maxlength="1" oninput="validateNumber()">
    <p id="result"></p>

    <script
        type = "text/javascript"
        src = "{{url_for('static', filename = 'index.js')}}"
        ></script>

</body>
</html>