<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1 class = "title" >Home</h1>
    </div>
    <div class = "sudoku-container">
        <table class = "sudoku-grid"> 
        <!-- Your Sudoku cells will be populated here -->
        </table>
    </div>
    <script
        type = "text/javascript"
        src = "{{url_for('static', filename = 'index.js')}}"
        ></script>
</body>
</html>